div.search-header
    div.search-header-inner(ng-class="'{{vm.selectedSearchType}}-search-type'")

        h1.title {{ 'GLOBAL_SEARCH.SEARCH_TITLE' | translate }}

        form(ng-submit="vm.submitFilter()", ng-class="vm.selectedSearchType + '-search-type'")
            fieldset.search-mode
              label(
                  href=""
                  title="mode"
                  class="active"
              )
                  span {{ vm.searchTypes[vm.selectedSearchType] | translate }}
              .search-mode-dropdown
                ul
                  li(ng-repeat="(type, translateKey) in vm.searchTypes")
                    label(
                      ng-click="vm.selectSearchType(type)"
                      ng-class="{active: vm.selectedSearchType == type}",
                    ) {{ translateKey | translate }}

            div.searchbox
                .search-query
                    input(
                        name="search"
                        type="text"
                        placeholder="{{ 'DISCOVER.SEARCH.INPUT_PLACEHOLDER' | translate }}"
                        ng-model="vm.params.q"
                    )
                    tg-svg.search-button(
                        ng-click="vm.submitFilter()"
                        svg-icon="icon-search"
                        svg-title-translate="DISCOVER.SEARCH.ACTION_TITLE"
                    )
                div.filter-param-input(
                    ng-repeat="filterSpec in vm.currentFilterSpecs()"
                )
                    label.param-name(
                        ng-click="vm.toggleAllFilterValues(filterSpec)"
                    )
                        | {{filterSpec.name}}:
                    div.filter-param-value(
                        ng-repeat="(key, choice) in filterSpec.choices"
                        ng-if="filterSpec.choices"
                    )
                        input(
                            type='checkbox'
                            id="{{filterSpec.slug}}-{{key}}-filter"
                            name="{{filterSpec.slug}}-{{key}}-filter"
                        )
                        label.negate-filter-param(
                            ng-click="vm.toggleAllFilterValues(filterSpec, choice)"
                            ng-class="{active: vm.isSelectedFilterValue(filterSpec.param, choice)}",
                        ) -
                        label.select-filter-param(
                            for="{{filterSpec.slug1}}-{{key}}-filter"
                            ng-class="{active: vm.isSelectedFilterValue(filterSpec.param, choice)}",
                            ng-click="vm.toggleFilterValue(filterSpec.param, choice)"
                        ) {{ choice.name }}
                        //-  ({{choice.details.length}})
                    div.filter-param-value(
                        ng-if="filterSpec.date"
                    )
                        tg-search-date-input(
                            date-gte="vm.params[filterSpec.param + '__gte']"
                            date-lte="vm.params[filterSpec.param + '__lte']"
                            on-change="vm.getDateSelector(filterSpec.param)"
                        )
                div.filter-param-input(ng-show="vm.selectedSearchType == 'text'")
                    label.param-name()
                        | Type:
                    div.filter-param-value
                        input(
                            type='radio'
                            id="filter-all"
                            name="filter-search"
                        )
                        label(
                            for="filter-all"
                            ng-click="vm.selectFilter('all')"
                            ng-class="{active: vm.params.filter == 'all'}",
                        ) {{ 'DISCOVER.FILTERS.ALL' | translate }}
                    div.filter-param-value
                        input(
                            type='radio'
                            id="filter-kanban"
                            name="filter-search"
                        )
                        label(
                            for="filter-kanban"
                            ng-class="{active: vm.params.filter == 'kanban'}",
                            ng-click="vm.selectFilter('kanban')"
                        ) {{ 'DISCOVER.FILTERS.KANBAN' | translate }}
                    div.filter-param-value
                        input(
                            type='radio'
                            id="filter-scrum"
                            name="filter-search"
                        )
                        label(
                            for="filter-scrum"
                            ng-class="{active: vm.params.filter == 'scrum'}",
                            ng-click="vm.selectFilter('scrum')"
                        ) {{ 'DISCOVER.FILTERS.SCRUM' | translate }}
                    div.filter-param-value
                        input(
                            type='radio'
                            id="filter-people"
                            name="filter-search"
                        )
                        label(
                            for="filter-people"
                            ng-class="{active: vm.params.filter == 'people'}",
                            ng-click="vm.selectFilter('people')"
                        ) {{ 'DISCOVER.FILTERS.PEOPLE' | translate }}
                div.filter-param-input(ng-if="! vm.paramsChanged()")
                    span.save-search-label
                      | Save this search as:
                    tg-stored-search-input
            //- .search-params(ng-include="vm.getFiltersTemplate()")
            input(type="submit")
