div.search-header
    div.search-header-inner(ng-class="'{{vm.selectedSearchType}}-search-type'")

        h1.title {{ 'GLOBAL_SEARCH.SEARCH_TITLE' | translate }}

        form(ng-submit="vm.submitFilter()", ng-class="vm.selectedSearchType + '-search-type'")
            fieldset.search-mode
              label(
                  href=""
                  title="mode"
                  class="active"
              )
                  span {{ vm.searchTypes[vm.selectedSearchType] | translate }}
                  
              .search-mode-dropdown
                ul
                  li(ng-repeat="(type, translateKey) in vm.searchTypes")
                    label(
                      ng-click="vm.selectSearchType(type)"
                      ng-class="{active: vm.selectedSearchType == type}",
                    ) {{ translateKey | translate }}

            div.searchbox
                input(
                    name="search"
                    type="text"
                    placeholder="{{ 'DISCOVER.SEARCH.INPUT_PLACEHOLDER' | translate }}"
                    ng-model="vm.params.q"
                )
                div.filter-param-input(
                    ng-repeat="filterSpec in vm.currentFilterSpecs()"
                )
                    label.param-name(
                        ng-click="vm.toggleAllFilterValues(filterSpec)"
                    )
                        | {{filterSpec.name}}:
                    div.filter-param-value(ng-repeat="(key, choice) in filterSpec.choices")
                        input(
                            type='checkbox'
                            id="{{filterSpec.slug}}-{{key}}-filter"
                            name="{{filterSpec.slug}}-{{key}}-filter"
                        )
                        label(
                            for="{{filterSpec.slug1}}-{{key}}-filter"
                            ng-class="{active: vm.isSelectedFilterValue(filterSpec.param, choice)}",
                            ng-click="vm.toggleFilterValue(filterSpec.param, choice)"
                        ) {{ choice.name }}
                        //-  ({{choice.details.length}})

                //- tg-svg.search-button(
                //-     ng-click="vm.submitFilter()"
                //-     svg-icon="icon-search"
                //-     svg-title-translate="DISCOVER.SEARCH.ACTION_TITLE"
                //- )

            .search-params(ng-include="vm.getFiltersTemplate()")
