section.related-userstories
    .related-userstories-header
        span.related-userstories-title(translate="COMMON.RELATED_USERSTORIES")
        tg-related-userstories-create-button(
          tg-check-permission="modify_epic"
          show-create-related-userstories-lightbox="vm.showCreateRelatedUserstoriesLightbox"
          project="vm.project"
        )

    .related-userstories-body
        div(tg-repeat="us in vm.userstories track by us.get('id')")
            tg-related-userstory-row.row(
                userstory="us"
                epic="vm.epic"
                project="vm.project"
                ng-class="{closed: us.get('is_closed'), blocked: us.get('is_blocked')}"
                on-removed-related-userstories="vm.reloadRelatedUserstories()"
            )

        div(tg-related-userstories-create-form)
