div.stored-search-input
    input(
        type='text'
        id='stored-search-name'
        ng-model='vm.storedSearchName'
        ng-change="vm.justSaved = false"
    )
    button.save-stored-search(
        type="button",
        ng-click="vm.saveStoredSearchItem()",
        ng-if="vm.storedSearchName && ! vm.storedSearchUnmodified()"
    )
        span(ng-if="vm.storedSearchItemExists()")
            | Update
        span(ng-if="! vm.storedSearchItemExists()")
            | Save
    label.stored-search-saved(ng-if="vm.storedSearchUnmodified()")
        span(ng-if="vm.justSaved")
            | saved
        span(ng-if="! vm.justSaved")
            | unmodified
          
