div(tg-search-results)
    .search-results
        tg-search-form(
            on-change="vm.onChangeFilter"
        )

    .search-results-content
        .spin(tg-loading="vm.loadingGlobal")

        .search-results-content-inner(ng-if="!vm.loadingGlobal")

            .search-results-list(ng-include="vm.getSearchResultsListTemplate()")

            a.button-green.more-results(
                tg-loading="vm.loadingPagination"
                href="#"
                ng-click="vm.showMore()"
                ng-if="vm.nextSearchPage"
            ) {{ 'DISCOVER.VIEW_MORE' | translate }}
