div.stored-search-items
    div(ng-if="! vm.staticSearchesEmpty()")
        h2 Preset search URLs:
        section.stored-search-items-table.basic-table
            div.row.title
                div.stored-search-item-name
                    | Name
                div.stored-search-item-url
                    | URL
                    
            div.row.table-main(
                ng-repeat="staticSearch in vm.getStaticSeaches()"
            )
                div.stored-search-item-name
                    | {{staticSearch.name}}
                div.stored-search-item-url
                    a(
                        ng-href="{{staticSearch.url}}"
                        title="{{staticSearch.name}}"
                        ng-bind="staticSearch.url | limitTo:110"
                    )
                    span(ng-if="staticSearch.url.length > 110")
                      | ...
    br
    br
    div(ng-if="! vm.isEmpty()")
        h2 Your stored search URLs:
        section.stored-search-items-table.basic-table
            div.row.title(ng-hide="! vm.staticSearchesEmpty()")
                div.stored-search-item-name
                    | Name
                div.stored-search-item-url
                    | URL
                div.stored-search-item-actions
                    |  

            div.row.table-main(
                ng-repeat="(name, url) in vm.items"
            )
                div.stored-search-item-name
                    | {{name}}
                div.stored-search-item-url
                    a(
                        ng-href="{{url}}"
                        title="{{name}}"
                        ng-bind="url | limitTo:100"
                    )
                    span(ng-if="url.length > 100")
                      | ...
                div.stored-search-item-actions
                    tg-svg(
                        svg-icon="icon-trash"
                        svg-title-translate="COMMON.DELETE"
                        ng-click="vm.deleteItem(name)"
                        tabindex="0"
                    )

    div.stored-search-items(ng-if="vm.isEmpty()")
        | No searches have been stored yet.
