div.date-input
    span.date-from
        fieldset.date-format
            label(
                href=""
                title="from"
            )
                span {{ vm.fromFormats[vm.selectedFromFormat] }}
            .date-format-dropdown
                ul
                    li(ng-repeat="(type, fromFormat) in vm.fromFormats")
                        label(
                            ng-click="vm.selectFromFormat(type)"
                            ng-class="{active: vm.selectedFromFormat == type}",
                        ) {{ fromFormat }}
        span(ng-if="vm.selectedFromFormat == 'from'")
            input.date-input.date-start(
                type="text"
                name="dateGte"
                ng-model="vm.dateGte"
                data-required="true"
                tg-date-selector
                placeholder="from"
            )
            span.clear-date-input(ng-if="vm.dateGte", ng-click="vm.dateGte = null")
                | x
        span(ng-if="vm.selectedFromFormat != 'from'")
            input.date-input.date-start(
                type="text"
                ng-model="vm.timeDeltaFrom"
                ng-keypress="vm.submitTimeDelta($event)"
            )
    span.date-to
      fieldset.date-format
          label(
              href=""
              title="to"
          )
              span {{ vm.toFormats[vm.selectedToFormat] }}
          .date-format-dropdown
              ul
                li(ng-repeat="(type, toFormat) in vm.toFormats")
                    label(
                        ng-click="vm.selectToFormat(type)"
                        ng-class="{active: vm.selectedToFormat == type}",
                    ) {{ toFormat }}
      span(ng-if="vm.selectedToFormat == 'end_of_day' || vm.selectedToFormat == 'before'")
          input.date-input.date-start(
              type="text"
              name="dateLte"
              ng-model="vm.dateLte"
              data-required="true"
              tg-date-selector
              placeholder="to"
          )
          span.clear-date-input(ng-if="vm.dateLte", ng-click="vm.dateLte = null")
            | x
      span(ng-if="vm.selectedToFormat != 'end_of_day' && vm.selectedToFormat != 'before'")
          input.date-input.date-start(
              type="text"
              ng-model="vm.timeDeltaTo"
              ng-keypress="vm.submitTimeDelta($event)"
          )
