a.add-button(
    href=""
    ng-click="vm.createRelatedUserstories(vm.project.get('id'), showLightbox)"
)
    tg-svg(svg-icon="icon-add")

div.lightbox.lightbox-create-related-user-stories
    tg-lightbox-close

    div.form
        h2.title(translate="EPIC.CREATE_RELATED_USERSTORIES")
        select.project(
            ng-model="selectedProjectId"
            ng-change="vm.selectProject(selectedProjectId)"
        )
            option(
                value=""
                ng-show="false"
            )
            option(
                tg-repeat="project in vm.projects track by project.get('id')"
                ng-value="::project.get('id')"
                ng-selected="vm.project.get('id') == project.get('id')"
            ) {{::project.get('name')}}


        select.userstory(
            ng-model="selectedUserstoryId"
            ng-change="vm.selectUserstory(selectedUserstoryId)"
        )
            option(
                value=""
                translate="EPIC.SELECT_USER_STORY"
            )
            option(
                tg-repeat="userstory in vm.userstories track by userstory.get('id')"
                ng-value="::userstory.get('id')"
            ) {{::userstory.get('ref')}} {{::userstory.get('title')}}

        a.button-green(
            href=""
            ng-click="vm.saveRelatedUserStory()"
        )
            span(
                translate="COMMON.SAVE"
            )
