a.add-button(
    href=""
    ng-click="vm.selectProject(vm.project.get('id'), showLightbox)"
)
    tg-svg(svg-icon="icon-add")

div.lightbox.lightbox-create-related-user-stories
    tg-lightbox-close

    div.form
        h2.title(translate="EPIC.CREATE_RELATED_USERSTORIES")
        select.project(
            ng-model="selectedProject"
            ng-change="selectProject()"
        )
            option(
                value=""
                ng-show="false"
            )
            option(
                tg-repeat="project in vm.projects track by project.get('id')"
                value="{{::project.get('id')}}"
                ng-selected="vm.project.get('id') == project.get('id')"
            ) {{::project.get('name')}}

        input.userstory(
            ng-model="searchUserstory"
        )

        select.userstory(
            ng-model="selectedUserstory"
            ng-change="selectUserstory()"
        )
            - var hash = "#";
            option(
                value=""
                translate="EPIC.SELECT_USER_STORY"
            )
            option(
                ng-repeat="userstory in vm.projectUserstories | toMutable | filter:searchUserstory track by userstory.id"
                value="{{ ::userstory.id }}"
            ) #{hash}{{::userstory.ref}} {{::userstory.subject}}

        a.button-green(
            href=""
            ng-click="vm.saveRelatedUserStory(closeLightbox)"
            tg-loading="vm.loading"
        )
            span(
                translate="COMMON.SAVE"
            )
